# Dependencias
node_modules/
package-lock.json

# Salidas de compilación / bundles
dist/
build/

# Variables de entorno y secretos
.env
.env.local

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*



